.toolbar{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    background: rgba(99, 93, 93, 0.19);
    /* background-color: white; */
    height: 85px;
    z-index: 1;
}
.toolbar_navigation{
    display: flex;
    height: 100%;
    padding: 0 1rem;
    align-items: center;
}
.toolbar_navigation-items a{
    color: black;
    text-decoration: none;
}
.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active{
    color: #fa9235;
}

.toolbar_navigation-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.toolbar_navigation-items li{
    padding: 0 0.5rem;
    
}
.spacer{
    flex:1;
}
.toolbar_logo{
    margin-left: 1rem;
}
.toolbar_logo a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
} 
.weblogo_second{
    color: #ffffff;
}
.toolbar_logo img{
    width: 15%;
}
@media (max-width: 768px){
    .toolbar_navigation-items{
        display: none;
    }
    .toolbar_logo img{
        width: 30%;
    }
}

@media (min-width: 769px){
    .toolbar_toggle-button{
        display: none;
    }
    .toolbar_logo{
        margin-left: 0;
    }
}