.toggle-button{
    display: flex;
    flex-direction: column;
    height: 24px;
    width: 30px;
    background: transparent;
    justify-content: space-around;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}
.toggle-button:focus{
    outline: none;
}
.toggle-button_line{
    width: 30px;
    height: 2px;
    background: white;
}