.how-it-works{
    padding: 20px;
    /* background-image: linear-gradient(305deg, #f49c3f1c, #f49c3f24, #f49c3f1c); */
    /* background-color: #ededed; */
    background-color: #151515;
    color: #e6e6e6;
}
.how-it-works h1{
    color: #ffffff;
}
.howitworks-inner i{
    font-size: 3rem;
}
.howitworks-inner{
    font-size: 1rem;
    text-align: center;
}
.howitworks-heading{
    padding: 20px;
}
