  .review {
      color: #fff;
      margin-top: 100px;
      padding: 50px 0;
       position: relative;
       background: #f49c3fab;
       -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(-5deg);
  }
  .review:before {
       position: absolute;
       margin-top: -130px;
       content: '';
       border-style: solid;
      border-width: 0 0 5rem 100vw;
      border-color: transparent #f49c3f #f49c3fab transparent;
   }
   .review h1{
       text-align: center;
   }
   .review p{
       text-align: center;
   }
   